<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Projects</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="http://localhost:3000/styles/layout">
  <link rel="stylesheet" href="http://localhost:3000/styles/projects">  
</head>
<body>
  <div class="layout-header">
    <h1>Workspaces</h1>
  </div>
  <div class="layout-taskbar">
    <h2 class="layout-taskbar-title">Projects</h2>
    <div class="layout-taskbar-right">
      <select class="display-theme-select">
      </select>
      <input class="layout-taskbar-search" type="search" placeholder="Search...">
    </div>    
  </div>
  <nav class="layout-nav">
    <ul class="layout-nav-list">
      <li class="layout-nav-item"><a href="http://localhost:3000/home">Home</a></li>
      <li class="layout-nav-item layout-nav-item-selected"><a href="http://localhost:3000/projects">Projects</a></li>
      <li class="layout-nav-item"><a href="http://localhost:3000/notes">Notes</a></li>
      <li class="layout-nav-item"><a href="http://localhost:3000/wiki">Wiki</a></li>
    </ul>
  </nav>
  <main class="layout-main">
    <header class="table-header">
      <div class="filters" id="filters">
        <fieldset>
          <legend id="active-filters-btn">Active</legend>
          <label>
            <input type="checkbox" name="filter" id="not-started-btn" value="Not Started" checked> Not Started
          </label>
          <label>
            <input type="checkbox" name="filter" id="in-progress-btn" value="In Progress" checked> In Progress
          </label>
          <label>
            <input type="checkbox" name="filter" id="complete-btn" value="Complete" checked> Complete
          </label>
        </fieldset>
        <fieldset>
          <legend id="archive-filters-btn">Archive</legend>
          <label>
            <input type="checkbox" name="filter" id="dev-complete-btn" value="Dev Complete"> Dev Complete
          </label>
          <label>
            <input type="checkbox" name="filter" id="canceled-btn" value="Canceled"> Canceled
          </label>
        </fieldset>
        <button type="submit" id="applyFilter">Apply Filter</button>
      </div>
      <div class="table-header-right">
        <button>Export</button>
        <a href="http://localhost:3000/projects/add_project">
          <button>+ Add New</button>
        </a>
      </div>
    </header>
    <table class="projects-table">
      <thead>
        <tr class="table-header-row">
          <th style="width: 95px">ID</th>
          <th style="width: 95px">Azure ID</th>
          <th style="text-align: left">Name</th>
          <th style="text-align: left">Title</th>
          <th>Priority</th>
          <th>Status</th>
          <th>Assignee</th>
          <th>Due Date</th>
        </tr>
      </thead>
      <tbody class="projects-table-body">
        
      </tbody>
    </table>
  </main>
  <script src="http://localhost:3000/scripts/layout"></script>
  <script src="http://localhost:3000/scripts/projects"></script>
</body>
</html>