.layout-main {
  padding: 12px;
  background-color: #FFFFFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  padding: 8px;
  background-color: #F8F8F8;
  border: 1px solid #E0E0E0;
  border-radius: 8px;
}

.table-header select {
  font-size: 14px;
  padding: 8px;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
}
.filters {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 15px;
}
.filters fieldset {
  padding-bottom: 5px;
}
.filters fieldset legend,
.filters fieldset label {
  cursor: pointer;
  user-select: none;
}

.table-header button {
  font-size: 14px;
  padding: 8px 16px;
  margin-left: 8px;
  border: none;
  background-color: #007BFF;
  color: #FFFFFF;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.table-header button:hover {
  background-color: #0056b3;
}

/* Projects Table */
.projects-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.projects-table thead {
  background-color: #007BFF;
  color: #FFFFFF;
}

.table-header-row th {
  border-bottom: 1px solid #E0E0E0;
  user-select: none;
}

.table-header-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.wrap-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  padding: 2px ;
}
.align-left {
  justify-content: left;
}
.table-header-icons {
  display: flex;
  flex-direction: column;
  font-size: 8px;
  margin-left: 8px;
}
.hidden {
  display: none;
}

.projects-table tbody tr {
  border-bottom: 1px solid #E0E0E0;
  transition: background-color 0.2s ease;
}

.projects-table tbody tr:hover {
  background-color: #F9F9F9;
}

.projects-table td {
  padding: 10px;
  font-size: 14px;
}

/* Links within the table */
.projects-table a {
  color: #007BFF;
  text-decoration: none;
  transition: color 0.2s ease;
}

.projects-table a:hover {
  color: #0056b3;
}

/* Dropdown for status */
.projects-table select {
  padding: 4px;
  font-size: 14px;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  background-color: #FFFFFF;
  cursor: pointer;
  color: #333333;
  outline: none;
  transition: all 0.2s ease;
}
.projects-table select:focus {
  border: 1px solid #007BFF;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}